---
---

@import "leap-day-theme";
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,400italic");

header {
  background-color: rgb(7,34,91);
  background-image: none;
  text-align: inherit;
  padding-bottom: 0px;
  padding-left: 10px;
}

body {
  background-color: #fbfbfb;
  background-image: none;
  font: 16px/24px 'Muli', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header h1 {
  font: 26px/48px 'Muli', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#banner {
  background-color: #e4ecd0;
  border-color: rgb(231,234,246);
  width: 100%;
  top: 85px;
}
@media print, screen and (max-width: 480px) {
  #banner {
    display: inherit;
    position: inherit;
    .fork {
      position: inherit;
    }
  }
}

.gallery img, .thumb img {
  width: 96px;
  height: 96px;
  border-radius: 9999px;
}
.thumb {
  float: left;
  padding-right: 10px;
}

section {
  border: none;
}
@media print, screen and (max-width: 1060px) {
  section {
    padding:20px 20px;
  }
}

.menu-link {
  color: #333;
  padding: 10px 12px;
  margin-top: 6px;
  display: inline-block;

  &:hover {
    // background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
    // background-color: #ffeca0;
    background-color: #d1ea91;
  }

}